<launch>
<node 
     pkg="trex_robot_control" type="pi_trex_publisher.py" name="pi_trex_publisher" output="screen">
</node>
<node
     pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
     <param name="port" value="/dev/ttyUSB0" /> 
     <param name="baud" value="57600" />
</node>
<node 
     pkg="trex_robot_control" type="pi_trex_pwr_subscriber" name="pi_trex_pwr_subscriber" output="screen">
</node>
</launch>
